<div class="col-xs-12 col-sm-6 col-md-4">
  <h3>Multi Bar Chart</h3>
  <svg id="vert-svg"></svg>
</div>
<div class="chart col-xs-12 col-sm-6 col-md-8">
  <h3>Time Chart</h3>
  <svg id="horz-svg" class="svg" preserveAspectRatio="none"></svg>
</div>
