<h1 class="text-info">Chose an activity below.</h1>

{{#each items}}
<hr>
<div class="row">
  <a href="{{href}}">
    <button class="btn btn-primary btn-large" type="button">{{desc}}</button>
  </a>
</div>
{{/each}}
